.BlockHeader {
  .block__title-bar {
    position: relative;
    padding: .3em;
    background-color: #f7efe3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;

    &:hover {
      background-color: #ecdabf;
    }
  }

  .block__title {
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
    font-weight: 900;
    text-shadow: 0 0 .5px #000;
    cursor: pointer;
  }

  .block__error {
    margin-left: .5em;
    color: #900;
    font-weight: 900;
  }

  .block__move {
    position: absolute;
    top: 0;
    left: .5rem;
    height: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;

    .block__move-up,
    .block__move-down {
      width: 5em;
      background-color: #222;
      color: #f7efe3;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: .7em;
      padding: .4em 0;
      cursor: pointer;

      &:hover {
        background-color: #444;
      }

      &:active {
        background-color: #555;
      }
    }
  }

  .block--results {
    .block__title-bar {
      &:hover {
        background-color: #f7efe3;
      }
    }

    .block__title {
      border-bottom: 1px solid #999;
      cursor: auto;
    }
  }

  .BlockDeleteButton {
    position: absolute;
    top: .3em;
    right: .6em;
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 2px solid #222;
    cursor: pointer;
    z-index: 1;

    path {
      stroke: #222;
      stroke-width: 10;
    }

    &:hover {
      border-color: #f55;

      path {
        stroke: #f55;
      }
    }

    &:active {
      background-color: #333;
    }
  }
}
