@import "variables.scss";

.block-controls {
  display: flex;
  justify-content: flex-end;

  padding: 0.5rem;
  font-size: 0.8em;
}

.block {
  .BlockList {
    position: relative;
    margin-top: 0.4rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    min-height: 1em;

    .block {
      border: 2px solid $contentColor;
      border-right: none;
    }

    .block-controls {
      position: relative;
      background: none;
      padding: 0;
      margin-bottom: 0.5em;
      font-size: 0.8rem;

      .add-block {
        background: $inputBackgroundColor;
        color: #eee;

        &:hover {
          background: #444;
        }
      }
    }
  }
}

.block-controls {
  .add-block {
    min-width: 6em;

    margin-left: 2px;
    position: relative;
    color: #eee;
    height: 100%;
    min-height: 0;
    border-radius: 0;
    background: #f55;
    padding: 0.3em 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 900;
    font-size: 0.75em;
    border: none;
    cursor: pointer;
    transition: 0;

    &:hover {
      background: #523;
      color: #eee;
    }
  }
}
