@import 'variables';

.BlockHeader {
  .block__title-bar {
    position: relative;
    padding: 0em 2.5em 0em 0em;
    min-height: 2em;
    background-color: $contentColor;
    display: flex;
    align-items: center;
    color: #000;
  }

  .block__title {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 900;
    text-shadow: 0 0 .5px #000;
    padding: .4em;
    min-width: 8.5em;
    flex-shrink: 0;
    font-size: .8em;

    @at-root .block:not(.block--results) & {
      cursor: pointer;
      user-select: none;

      &:hover {
        opacity: .6;
      }

      &::before {
        content: '⯈';
        display: inline-flex;
        width: 1.2em;
        height: 1.2em;
        align-items: center;
        justify-content: center;
        transition: .2s;
      }
    }

    @at-root .block--is-collapsed &::before {
      transform: rotate(90deg);
    }
  }


  .block__move {
    padding-left: .5rem;
    height: 100%;
    display: flex;
    align-items: center;
    gap: .2rem;

    .block__move-up,
    .block__move-down {
      width: 1.4em;
      height: 1.4em;
      background-color: #222;
      color: $contentColor;
      text-transform: uppercase;
      font-size: .7rem;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      &:hover {
        background-color: #444;
      }

      &:active {
        background-color: #555;
      }
    }
  }

  .BlockInput.user-comment {
    width: 100%;

    label {
      height: 1.5em;
      padding: 0;
    }

    .label {
      display: none;
    }


    input {
      text-align: left;
      width: 100%;
      background-color: #00000017;
      margin: 0;
      font-size: .8rem;

      &:hover {
        background-color: #00000025;
      }
    }

    ::placeholder {
      opacity: 0.75;
    }

    &--filled {
      input {
        background-color: #0000;
        font-weight: 700;
      }
    }
  }

  .block--results {
    .block__title-bar {
      &:hover {
        background-color: $contentColor;
      }
    }

    .block__title {
      border-bottom: 1px solid #999;
      cursor: auto;
    }
  }

  .BlockDeleteButton {
    position: absolute;
    top: .4em;
    right: .6em;
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 2px solid #222;
    cursor: pointer;
    z-index: 1;

    path {
      stroke: #222;
      stroke-width: 10;
    }

    &:hover {
      border-color: #f55;

      path {
        stroke: #f55;
      }
    }

    &:active {
      background-color: #333;
    }
  }
}

.block--is-error {
  .block__title-bar {
    background-color: #faa;
  }
}
