@font-face {
  font-family: "Lato";
  src: url('../media/Lato-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('../media/Lato-LightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url('../media/Lato-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('../media/Lato-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url('../media/Lato-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('../media/Lato-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Fira Code";
  src: url('../media/FiraCode-VariableFont.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  background-color: #222;
  color: #eee;
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
}

#content {
  padding: 1em;

  .text {
    max-width: 40em;
    margin: 0 auto;
    margin-bottom: 3em;
    line-height: 1.4;
  }
}

textarea {
  display: block;
  width: 100%;
  resize: none;
  background: none;
  color: inherit;
  padding: 1em;
  border: none;
  box-shadow: 0 0 0 1px #333 inset;
  border-radius: 5px;
  font-family: "Fira Code", monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

input {
  background: none;
  width: 6em;
  padding: 0.2em .5em;
  border: none;
  box-shadow: 0 0 0 1px #333 inset;
  font: inherit;
  font-family: "Fira Code", monospace;
  color: inherit;

  &:focus {
    outline: none;
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


button {
  display: block;
  height: 100%;
  background: none;
  color: inherit;
  border: none;
  box-shadow: 0 0 0 1px #333;
  padding: .5em 1em;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .1em;
  min-width: 7em;

  &:hover {
    background-color: #333;
  }

  &:active {
    background-color: #444;
  }
}

.controls {
  display: flex;
  align-items: center;

  .byte-count {
    margin-left: 1em;
  }
}

.block {
  position: relative;
  background-color: #111;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #000;
  margin-bottom: .8rem;

  &__title {
    text-transform: uppercase;
    margin-bottom: .8rem;
    letter-spacing: .1em;
    font-weight: 700;
    text-align: center;
  }

  .BlockDeleteButton {
    position: absolute;
    top: .6em;
    right: .6em;
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: #222;
    border: 1px solid #999;
    cursor: pointer;

    path {
      stroke: #ccc;
      stroke-width: 5;
    }

    &:hover {
      border-color: #f55;

      path {
        stroke: #f55;
      }
    }

    &:active {
      background-color: #333;
    }
  }

  &--slab,
  &--results {
    .block__contents {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content auto;
      gap: .8rem;
      height: 20em;

      .base64-input {
        height: 100%;
      }

      .json-input {
        height: 100%;
        grid-row-end: span 2;
      }
    }
  }

  &--results {
    .block__contents {
      height: 10em;

      textarea {
        height: 10em;
        background-color: #222;
      }

      button {
        box-shadow: 0 0 0 1px #f55;
      }
    }
  }
}

.BlockInput {
  label {
    display: flex;
    align-items: center;
    margin-bottom: .8rem;

    .label {
      min-width: 12em;
      text-align: right;
      margin-right: .5em;
      font-size: .8em;
      text-transform: uppercase;
      letter-spacing: .1em;
    }
  }
}

.block-controls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  background-color: #111;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #000;
  margin-bottom: .8rem;
  gap: .8rem;
}
