@import "variables";

@font-face {
  font-family: "Lato";
  src: url("../media/Lato-Light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../media/Lato-LightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../media/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../media/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../media/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../media/Lato-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../media/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../media/Lato-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Fira Code";
  src: url("../media/FiraCode-VariableFont.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  background-color: $backgroundColor;
  color: $contentColor;
  font-family: sans-serif;
  font-family: "Lato", sans-serif;
}

#content {
  max-width: 80em;
  margin: 0 auto;

  .text {
    max-width: 40em;
    margin: 0.3em auto;
    line-height: 1.4;

    h1 {
      text-align: center;
      margin: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      color: #ccc;

      &:hover {
        color: #fff;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0;
}

.add-block-button,
.copy-button,
.read-button,
.eyedropper-button {
  display: block;
  height: 100%;
  background: none;
  color: inherit;
  border: 2px solid #eee;
  background-color: #222;
  padding: 0.5em 1em;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  min-width: 7em;

  &:hover {
    background-color: #333;
  }

  &:active {
    background-color: #444;
  }
}

.eyedropper-button {
  min-width: 2em;
  background-image: url("../media/icon-eyedropper.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .byte-count {
    margin-left: auto;
  }
}

.block {
  position: relative;
  background-color: #333;
  margin-bottom: 0.5rem;
  padding-bottom: 0.2rem;

  &--first > .BlockHeader > .block__title-bar > .block__move > .block__move-up {
    pointer-events: none;
    opacity: 0;
  }

  &--last
    > .BlockHeader
    > .block__title-bar
    > .block__move
    > .block__move-down {
    pointer-events: none;
    opacity: 0;
  }

  &--is-collapsed {
    margin-bottom: 2px;
    padding-bottom: 0;
  }

  &--disabled {
    background-color: #115;
  }

  &--is-error {
    background-color: #511;
  }

  .block__contents {
    margin: 0.5rem 0.5rem 0 0.5rem;
    font-size: 0.8rem;
  }

  &--slab,
  &--results {
    > .block__contents {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content auto;
      gap: 0.5rem;
      height: 20em;

      .base64-input {
        height: 100%;
      }

      .json-input {
        height: 100%;
        grid-row-end: span 2;
      }
    }
  }

  &--results {
    margin-top: 2rem;
    background-color: transparent;

    .block__title-bar {
      background-color: transparent;
      color: $contentColor;

      &:hover {
        background-color: transparent;
      }
    }

    > .block__contents {
      height: 18em;
      grid-template-rows: auto;

      .controls {
        position: fixed;
        z-index: 21;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $backgroundColor;
        padding: 0.5em 0.5em 0.5em 1em;
        border-bottom: 2px solid $contentColor;
        font-size: 1rem;

        .title {
          font-weight: 900;
          color: #fff;
          height: 1rem;
          display: flex;
          align-items: flex-end;
          cursor: none;

          span {
            position: relative;
            display: inline-block;

            &:nth-child(1) {
              width: 21px;
              vertical-align: text-bottom;
              letter-spacing: 0;
              opacity: 0.4;
              font-weight: 400;
              overflow: hidden;
              transition: 0.3s;
            }

            &:nth-child(2) {
              color: #f55;
              vertical-align: text-bottom;
              letter-spacing: 0;
              margin-left: -2px;
              font-size: 1em;
              transition: 0.3s;

              &::before {
                content: "";
                display: block;
                position: absolute;
                background-color: #fff;
                height: 2px;
                bottom: 2px;
                left: -4.12px;
                right: -3.58px;
                width: calc(100% + 7.7px);
                margin-left: auto;
                transition: 0.3s;
              }
            }
          }

          &:hover {
            span:nth-child(1) {
              width: 0;
            }

            span:nth-child(2) {
              color: #fff;

              &::before {
                width: 0;
              }
            }
          }
        }
      }

      .json-input {
        grid-row-end: span 1;
      }

      textarea {
        background: #444;
      }

      button {
        background-color: #f55;
        border: 2px solid $contentColor;
        border: none;
        font-weight: 700;
        min-width: 12em;

        &:hover {
          background-color: #523;
        }

        &:active {
          background-color: #f77;
        }
      }
    }
  }

  &--duplicate,
  &--offset,
  &--rotate,
  &--scale,
  &--replace,
  &--filter {
    > .block__contents {
      display: flex;
      flex-wrap: wrap;
      column-gap: 0.5rem;
      row-gap: 2px;

      .input-group {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.5rem;
        row-gap: 2px;
      }
    }
  }

  .block__error {
    width: 100%;
    color: #fff;
    margin-left: 0.5em;
    font-weight: 900;
    text-align: center;

    &::before {
      content: "!";
      display: inline-block;
      font-size: 0.9em;
      width: 1.4em;
      height: 1.4em;
      border: 2px solid #fff;
      border-radius: 50%;
      margin-right: 0.5em;
      line-height: 1.1;
      box-sizing: border-box;
    }
  }
}

body {
  --rt-opacity: 1;
  --rt-transition-show-delay: 1ms;
  --rt-transition-closing-delay: 1ms;
}

#dropdown-tooltip,
#default-tooltip,
#select-tooltip {
  z-index: 21;
  max-width: 20em;
  border-radius: 0;
  background-color: $tooltipBackgroundColor;
  color: $tooltipContentColor;
  padding: 1em 1em 1.2em 1em;

  h3 {
    margin-bottom: 0.5em;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.TemplateHeader {
  textarea {
    background-color: #111;
    height: 10em;
    border: 0.7em solid #333;
  }
}

@import url("blockHeader.scss");
@import url("inputs.scss");
@import url("blockList.scss");
@import url("templateSaving.scss");
@import url("tooltips.scss");
