@import 'variables';

textarea {
  display: block;
  width: 100%;
  resize: none;
  background: none;
  color: inherit;
  padding: 1em;
  border: none;
  font-size: .7rem;
  font-family: "Fira Code", monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

input {
  background: none;
  width: 6em;
  padding: 0.2em .5em;
  border: none;
  font: inherit;
  font-family: "Fira Code", monospace;
  color: inherit;

  &[type=text] {
    width: 11em;
  }

  &:focus {
    outline: none;
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.BlockInput {
  max-width: 100%;

  label {
    display: flex;
    align-items: center;
    padding-left: .5em;
    height: $inputHeight;

    

    input{
      height: 100%;
      border: none;
      text-align: center;
      margin-left: .5em;
    }

    input[type="checkbox"] {
      display: none;

      +.checkbox-display {
        width: $inputHeight;
        height: $inputHeight;
        padding-bottom: .1em;
        background-color: $inputBackgroundColor;
        margin-left: .5em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        cursor: pointer;
        user-select: none;
      }

      &:checked+.checkbox-display {
        box-shadow: 0 0 0 2px $inputActiveColor inset;
      }
    }

    .radioOption[type="radio"] {
      display: none;

      +div {
        min-width: $inputHeight;
        height: $inputHeight;
        padding: 0 0.5rem;
        background-color: $inputBackgroundColor;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        cursor: pointer;
        user-select: none;
      }

      &:checked+div {
        background-color: #f55;
      }
    }
  }

  .label {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    flex-shrink: 0;
    min-width: 9em;
  }

  &.BlockUuidInput  {
    input {
      width: 23em;
    }

    .eyedropper-button {
      border: none;
    }
  }

  &.BlockSelectInput{
    display: flex;
    align-items: center;

    padding-left: .5em;

    label {
      padding-left: 0;
    }

    .default-tooltip-anchor{
      display: flex;
      margin-left: .5em;
      gap: 2px;
    }
  }

  &.input-slab input {
    width: 30em;
  }
}

.block__contents {

  textarea,
  input {
    background-color: $inputBackgroundColor;
    color: $inputTextColor;
  }

  .BlockInput {
    &:hover {

      input,
      .checkbox-display{
        background-color: #444;
      }
    }

    &:active {

      input,
      .checkbox-display{
        background-color: $inputActiveColor;
      }
    }
  }
}
