.TemplateSaving {
  padding: 0 0.5rem;

  %button-base {
    display: block;
    height: 100%;
    background: #222;
    color: inherit;
    margin: 0.25em 0;
    padding: 0.1em 0.5em;
    cursor: pointer;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    min-width: 1em;
    border: none;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;

    &:hover {
      background-color: #555;
    }

    &:active {
      background-color: #523;
    }
  }

  %text-style-uppercase {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    font-family: "Lato", sans-serif;
  }

  .template-item {
    display: flex;
    gap: 5em 0.5em;
    padding: 0.05em 0.25em;
    background-color: #444;

    .template-name {
      @extend %button-base;
      @extend %text-style-uppercase;
      flex: 1;
    }

    button {
      @extend %button-base;
    }

    input {
      @extend %text-style-uppercase;
      min-width: 1em;
      border: none;
    }

    &:hover {
      background-color: #eee;
    }
  }

  .template-name-input {
    @extend %button-base;
    @extend %text-style-uppercase;
    flex: 1;
    width: 100%;
    cursor: text;
    outline-offset: 2px;

    &:focus {
      background-color: #555;
      outline: none;
    }
  }

  .drag-overlay {
    background-color: #444 !important;
    padding-left: 2em;
    @extend %text-style-uppercase;
    font-size: 0.85em;
  }

  .template-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4em;
  }

  .template-menu-button {
    min-width: 12em;
    min-height: 2em;
    position: relative;
    color: #eee;
    background: #f55;
    padding: 0.3em 0.8em;
    @extend %text-style-uppercase;
    font-weight: 700;
    font-size: 0.8em;
    border: none;
    cursor: pointer;

    &:hover {
      background: #523;
    }

    &:active {
      background-color: #f77;
    }
  }

  .template-save-wrapper {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 0.2em;
    gap: 0.5em;
    margin-bottom: 0.4em;

    input {
      background-color: #111;
      height: 2em;
      flex: 1;
      border: none;
      @extend %text-style-uppercase;
      font-size: 0.8em;
      padding: 0.2em 0.5em;
      color: white;
    }

    .template-menu-button {
      height: 2em;
    }
  }

  .template-import-wrapper {
    margin-top: 1em;
  }

  .sortable-item {
    display: flex;
    align-items: center;
  }

  .drag-handle {
    user-select: none;
    cursor: grab;
    padding-right: 8px;
  }

  .folder-contents {
    padding-left: 1em;
  }

  .toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 6px #111;
    border: solid #eee;
    border-width: 1px 0 0 1px;
    border-radius: 4px;
    z-index: 1000;
  }

  .template-import-textarea {
    background-color: #333;
    margin: 1em 0;
    height: 8em;
    width: 100%;
    font-family: monospace;
  }
}
