$backgroundColor: #001a20;
$contentColor: #f7efe3;
$inputBackgroundColor: #151515;
$inputHoverColor: #444;
$inputActiveColor: #555;
$inputTextColor: #eee;
$tooltipBackgroundColor: #001a20;
$tooltipContentColor: #f7efe3;
$inputHeight: 1.5rem;
